<%= form_for(premise) do |f| %>
  <%= f.hidden_field :rule_id %>

  <% if premise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(premise.errors.count, "error") %> prohibited this premise from being saved:</h2>

      <ul>
      <% premise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field"> 
  <%= grouped_collection_select(:premise, :value_id, Variable.all, :values, :description, :id, :description) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
